<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Firefont"
        android:allowBackup="false">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Force Firefox to use custom fonts by disabling web fonts" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="xposedscope"
            android:value="org.mozilla.fenix|org.mozilla.firefox|org.mozilla.firefox.beta" />
    </application>
</manifest>
